<template>
  <div>
    <b-form @submit="onSubmit">
      <b-input v-model="form.userId" name="userId" readonly required placeholder="unique userId" />
      <b-input v-model="form.userName" name="userName" required placeholder="user name" />
      <b-input
        v-model="form.password"
        name="password"
        required
        type="password"
        placeholder="password"
      />
      <div class="button">
        <b-button type="submit" variant="primary">수정</b-button>
      </div>
    </b-form>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      form: {
        userId: "a",
        userName: "b",
        password: "c"
      }
    };
  },
  mounted: async function() {
    var userId = this.$route.params.id;
    var response = await axios.get("http://localhost:8083/users/" + userId);
    this.form = response.data;
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault();
      const params = JSON.stringify(this.form);
      var res = await axios.put("http://localhost:8083/users", params, {
        headers: {
          "Content-Type": "application/json"
        }
      });
      alert(JSON.stringify(res.data));
    }
  }
};
</script>
<style>
.button {
  text-align: center;
}
</style>
