<template>
  <div>
    <b-form @submit="onSubmit">
      <b-input v-model="form.userId" name="userId" required placeholder="unique userId" />
      <b-input v-model="form.userName" name="userName" required placeholder="user name" />
      <b-input
        v-model="form.password"
        name="password"
        required
        type="password"
        placeholder="password"
      />
      <div class="button">
        <b-button type="submit" variant="primary">추가</b-button>
      </div>
    </b-form>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      form: {
        userId: "",
        userName: "",
        password: ""
      }
    };
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault();
      const params = JSON.stringify(this.form);
      try {
        var res = await axios.post("http://localhost:8083/users", params, {
          headers: {
            "Content-Type": "application/json"
          }
        });
        if (res.status == 200) {
          alert("등록되었습니다.");
        } else {
          alert("오류가 발생했습니다.\n" + res.data);
        }
      } catch (e) {
        alert("오류가 발생했습니다.\n" + e);
      }
      location.href = "#/users";
    }
  }
};
</script>
<style>
.button {
  text-align: center;
}
</style>
