<template>
  <div>
    <div>
      <p>{{ user.userId }}</p>
    </div>
    <div>
      <p>{{ user.userName }}</p>
    </div>
    <div>
      <p>{{ user.password }}</p>
    </div>
    <div class="button">
      <b-button v-on:click="updateUser">수정</b-button>
      <b-button v-on:click="deleteUser">삭제</b-button>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      user: {}
    };
  },
  mounted: async function() {
    var userId = this.$route.params.id;

    var response = await axios.get("http://localhost:8083/users/" + userId);
    this.user = response.data;
  },
  methods: {
    updateUser: function() {
      location.href = "#/users/user_update/" + this.user.userId;
    },
    deleteUser: async function() {
      var confirmed = confirm(this.user.userId + " 삭제?");
      if (confirmed) {
        var params = { data: { userId: this.user.userId } };
        var res = await axios.delete("http://localhost:8083/users", params, {
          headers: {
            "Content-Type": "application/json"
          }
        });
        alert(JSON.stringify(res));
      }
    }
  }
};
</script>
<style>
.button {
  text-align: center;
}
</style>