<template>
  <div>
    <h2>Users</h2>
    <b-table striped hover :items="list" :fields="fields" @row-clicked="onRowClicked"></b-table>
    <div class="button">
      <b-button v-on:click="add">add</b-button>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data: function() {
    return {
      fields: ["userId", "userName", "enName"],
      list: []
    };
  },
  mounted: async function() {
    var response = await axios.get("http://localhost:8083/users");
    this.list = response.data;
  },
  methods: {
    add: function() {
      location.href = "#/users/user_form";
    },
    onRowClicked: function(item) {
      location.href = "#/users/" + item.userId;
    }
  }
};
</script>
<style>
.button {
  text-align: center;
}
</style>
