<template>
  <div>
    <h3>Home</h3>
    <b-button v-on:click="getData">axios button</b-button>
    <div>{{ this.predata }}</div>
    <div>{{ this.info }}</div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data: function() {
    return {
      predata: null,
      info: null
    };
  },
  mounted: async function() {
    var response = await axios.get("https://jsonplaceholder.typicode.com/posts");
    this.predata = response.data.length;
  },
  methods: {
    getData: async function() {
      var response = await axios.get("https://jsonplaceholder.typicode.com/posts");
      this.info = response.data;
    }
  }
};
</script>