<template>
  <div id="footer">
    Footer
    <nav>
      개인정보처리방침 | 이용약관
    </nav>
  </div>
</template>
<script>
export default {};
</script>
<style>
#footer {
  margin-top: 20px;
  border: 1px solid #888888;
  width: 100%;
  height: 80px;
}
</style>