<template>
  <div id="header">
    Header
    <nav>
      <ul id="menu">
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="/register">Register</router-link>
        </li>
        <li>
          <router-link to="/login">Login</router-link>
        </li>
        <li>
          <router-link to="/hello">Hello</router-link>
        </li>
        <li>
          <router-link to="/users">Users</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>
export default {};
</script>
<style>
#header {
  border: 1px solid #888888;
  width: 100%;
  height: 80px;
}

ul#menu li {
  display: inline-block;
  margin: 0 4px;
  padding: 2px;
}
</style>