<template>
  <div id="app">
    <GsHeader />
    <div id="contents">
      <router-view />
    </div>
    <GsFooter />
  </div>
</template>

<style>
#contents {
  border: 1px solid #338833;
  width: 100%;
  height: 80%;
  min-height: 400px;
}
</style>

<script>
import GsHeader from "./components/common/Header.vue";
import GsFooter from "./components/common/Footer.vue";

export default {
  name: "App",
  components: {
    GsHeader,
    GsFooter
  }
};
</script>